<h1>Home</h1>
<p>This is the {{ title }} page</p>

<h2>Existing Chatrooms</h2>
<ul>
  {{#each chatrooms}}
    <li><a href="/{{ this }}">{{ this }}</a></li>
  {{/each}}
</ul>

<h2>Create a New Chatroom</h2>
<form action="/create" method="POST">
  <button type="submit">Create New Chatroom</button>
</form>